/*typhography*/
*{margin:0; padding:0}*
html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}
.spacer{
    height: 30px;
    overflow: hidden;
}
#container_fluid{
    background:#ddd;
}
#container_fluid .container{
    padding:20px;
    background: #ddd;
}
#set-1, #set-2{
    background:#FF7A09;
    padding-top:10px;
}
#set-2{
    border-bottom:3px solid #FF3029;
}
/* header wrapper----------------------------*/
.desktop_header{
    background:#FF7A09;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    Z-index:999;
    color:#FF7A09;
}

/*------------------- SITE LOGO--------------------*/
.logo_top{
    width:100px;
    height: 50px;
}
.logo_top img{
    width:100%;
    height: 100%;
}
.phone_top{
    text-align:left;
}
.email_top{
    text-align:right;
}
.phone_top, .email_top{
    color:white;
}
.social_menu_top{
   text-align:right;
}

.social_menu_top ul{}
.social_menu_top ul li{
    float:left;
    width:15%;
    list-style-type:none;
    margin-top:10px;

}
.social_menu_top ul li a{
    color:white;
    display:block;
    font-size:16px;
}

.social_menu_top ul li:hover{}
/*Main menu bar----------------*/
.top_slogan{
    color:white;
}
.main_menu{

}
.main_menu ul{
    float:right;
}
.main_menu ul li{
    list-style-type:none;
    float:left;
    padding: 0px 5px;
    justify-content: space-around;
}
.main_menu ul li a{
    display:block;
    color:white;
    font-size:18px;
    justify-content: space-around;
}
.main_menu ul li a:hover{
    -webkit-transition:all 1s easy;
    transition:all 1s ease;
    color:#15C39A;
}
.searchbar{
    width:100%;
    overflow: hidden;
    border-radius: 5px;
}

.searchbar .searchinput{
   width:100%;
   padding:5px;
   border-radius: 5px;
}
.searchbar #searchsubmit{
   width:100%;
   border-radius:5px;
   padding:5px;
}
/*--------------------------MOBILE HEADER BAR-----------------*/
.mobile_header{
    background:#FF7A09;
    position:relative;
    padding:10px;
}
.mobile_logo_top{
    width:300px;
    height:40px;
    color:white;
}
.mobile_header .toggle_btn{
    position: fixed;
    right:10px;
    top:5px;
    color:white;
    font-size:30px;
    cursor: pointer;
}
/* MOBILE MENU BAR-------------------------------*/
.mobile_menu_wrapper{
    display:none;
    background:#FF7A09;
}
.mobile_menu{
    width:100%;
}
.mobile_menu ul{
    width:100%;
    border-right:1px solid black;
    border-left:1px solid black;
    border-top:1px solid black;
}
.mobile_menu ul  li{
    list-style-type:none;
    border-bottom:2px solid black;
    padding:10px;

}
.mobile_menu ul li:first-child{
    
}
.mobile_menu ul  li a{
    display:block;
    text-align:center;
    color:white;
    font-weight:600;
    

}
.mobile_menu ul li:hover{
    background:black;
    -webkit-transition:all 1s easy;
    transition:all 1s ease;
    text-decoration:none;
}

/*SLIDER SECTION*/
.slider{
    width:100%;
    height: 600px;
}
.slider img{
    width:100%;
    height:600px;

}




/*HOME PAGE BLOGING SECTION---------------------*/
.home_resent{
    text-align:center;
    color:#FF7A09;
    font-weight: bold;
}
.home_single_post{
    margin-top:40px;
}
.home_single_post h2{
    color:#FF7A09;
    font-weight: 600;
    font-size:27px;
    text-align:justify;
}
.home_single_post img{
    width:100%;
    height:200px;
    margin-top:20px;
    background-size:cover;
}
.home_single_post .home_content{
    text-align:justify;
    margin-top:20px;
    line-height: 30px;
    font-size:18px;
    font-family: arial;
}

.home_single_post .read_more_home{
    text-align:right;
}
.home_single_post .read_more_home button{
    padding: 5px 10px;
    border-radius:5px;
    background:#FF7A09;
    color:white;
}
.home_single_post .read_more_home button:hover{
    background:black;
    color:white;
    transition:all 1s ease;
    -webkit-transition:all 1s ease;
}
/*------------------ SERVICE SECTION----------------------------*/
#service .service_head{
    text-align:center;
    text-transform: uppercase;
    color: #FF7A09;
    font-weight: 600;
}
.service_wrapper_single{
    text-align:center;
    margin-top:50px;
}
.service_wrapper_single img{
    width:100%;
    height:200px;
    repeat:no-repeat;
    background-size:cover;
    text-align:center;
}
.service_wrapper_single img:hover{
    border:1px solid #FF7A09;
    padding:5px;
    cursor: pointer;
}
.service_wrapper_single h2{
    margin-top:30px;
    margin-bottom:15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size:27px;
    color:#FF7A09;

}
.service_wrapper_single p{
    line-height: 30px;
    text-align:justify;
}
.service_wrapper_single button{
    background:#FF7A09;
    color:white;
    padding:5px 10px;
    border-radius: 5px;
    margin-top:10px;
}
.service_wrapper_single button:hover{
    background-color: black;
}
.service_details{
    margin: 0 auto;
}
.service_more_button{
    text-align:center;
    color:white;
}
.service_more_button button{
    text-align:center;
    padding:5px 30px;
    width:400px;
    background:#FF7A09;
    color:white !important;
    border-radius:5px;
    color:black;
    font-weight: 600;
    margin-top:30px;
    font-size:16px;
}
.service_more_button button:hover{
    background:black;
    color:white;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
/*About section here---------------------------*/
#about{

}
#about .about_head{
    text-align:center;
    color:#FF7A09;
    font-weight: bold;
    border-bottom: 1px solid #FF7A09;
}

.about_me_text_home, .my_img_home{
    margin-top:40px;
}
#about .my_img_home img{
    width:100%;
}
#about .about_me_text_home{
    text-align:justify;
    line-height: 30px;
}
.download_cv button{
    padding:5px 20px;
    background:#FF7A09;
    color:white;
    font-size:18px;
    margin-right:-8px;
}
.download_cv button:hover{
    color:white;
    background:black;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
/*Skill bar & EDUCATION-------------------------------*/
.full_skill_wrap{

}
.full_skill_wrap .skill_head, .education_full_wrap .education_head{
    text-align: center;
    color:#FF7A09;
    font-weight: bold;
    padding-bottom: 20px;
}
/*skill------01*/
.progress_single h2{
    font-size:18px;
    color:#FF7A09;
    font-weight:bold;
    text-transform: uppercase;
}
.skill_wrap{
    background-color: #8995A0;
    width: 100%;
    border-radius:10px;
    margin-bottom:20px;
    text-align:center;

}
.skill_wrap:last-child{
    margin-bottom:none;
}
.skill{
    border-radius:10px;
    background-color:#FF7A09;
    padding-top:5px;
    color:#FF7A09;
    height: 7px;;
}
.html{
    width:90%;
}
.css{
    width:85%;
}
.javascript{
    width:80%;
}
.jquery{
    width:90%;
}
.bootstrap{
    width:95%;
}
.php{
    width:70%;
}
.wordpress{
    width:80%;
}
.photoshop{
    width:70%;
}

/*EDUCATION------02*/
.education{
    padding-left:10px;
}
.education h2{
    color:#FF7A09;
    font-size:18px;
    font-weight: bold;
}
.education p{
    line-height: 30px;
    text-align:justify;
    font-size:16px;
    text-transform: capitalize;
}


/*GALLLERY------------------------*/
#gallery .service_details{
    text-align:center;
}
             
#gallery h2{
    color:#FF7A09;
    font-weight: bold;
    text-align:center;
    margin-bottom: 30px;
}
.gallery{
    padding:20px;
}
.gallery img{
    width:100%;
    height:700px;
    filter: grayscale(20%);
    outline: 1px solid #FF7A09;
}
.gallery img:hover{
    filter: grayscale(0%);
    transform:scale(1.2);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 99;
}
/*YOUTUBE SECTION------------------------*/
#youtube h2, #contact h2{
    text-align:center;
    color:#FF7A09;
    font-weight: bold;
    margin-bottom:30px;
}
#youtube .youtube_single{
    margin-top:30px;
}
#youtube .youtube_single iframe{
    border:1px solid #FF7A09;
    padding:5px;
}

/*TESTIMONAIAL SLIDER----------------------*/
#testimonial .our-client{
    text-align:center;
    color:#FF7A09;
    font-weight: bold;
    margin-bottom:30px;
}
  .swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;
    background:#FF7A09;
  }
  .swiper-slide .imgbx{
      height:300px;
      width:100%;

  }
.swiper-slide .imgbx img{
    width:100%;
    height:100%;
    border-radius:50%;
    padding:30px;
}
.swiper-slide .client-details{
    padding:5px;
    color:white;
    text-align:center;
}
.swiper-slide .client-details h2{
    font-size:23px;
}
.swiper-slide .client-details p{
    font-size:16px;
}
/*MY CARD AWARD LIFE JOURNEY-----------*/
#lifejourney H2{
    text-align:center;
    color:#FF7A09;
    font-weight: bold;
}
#lifejourney .column{
    margin-bottom:10px;
    margin-top:20px;
}
/* Style the counter cards */
#lifejourney .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding:20px;
  text-align: center;
  background-color: #444;
  opacity: 1.9;
  color: white;
}
.fa {font-size:50px;}
/*CONTACT SECTION HERE-------------------*/
#contact label{
    font-size:18px;
    font-weight: bold;
}
#contact table{
    width:100%;
}
#contact table tr td{
    width:100%;
    overflow: hidden;
}
#contact input{
    width:100%;
    padding:2px;
    border-radius: 5px;
    margin:10px;
}
#contact textarea{
    border-radius:5px;
    
}
#contact input[type="submit"]{
    background: #FF7A09;
    padding:10px;
    color:white;
}
#contact input[type="submit"]:hover{
    background:black;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
#contact .contact-single{
    margin-top:30px;
}

/*FOOTER WIDGETS SECTION------------------*/
#footer{
    background:#444444;
    padding:30px 0px 10px 0px;
}
.footer-widget{
    margin-top:30px ;
    color:white;
    text-align:center;
    padding-bottom:30px;
}
.footer-widget .widget-address{
    
}
.footer-widget h2{
    font-size:20px;
}
#footer .footer-social{
    margin:0 auto;
}
#footer .footer-social ul{
    padding-top:10px;
    text-align:center;
}

#footer .footer-social ul li{
    list-style-type:none;
    float:left;
    justify-content: space-around;
}
#footer .footer-social ul  li a{
    display:block;
    color:white;
    padding:10px;
    
}

/*This css for scroll to top button */
.top{
	width:50px;
	height:50px;
	position:fixed;
	right:10px;
	bottom:10px;
	cursor:pointer;
			
}
.top img{
	width:100%;
    height:100%;
    color:#FF7A09;
}


/*FOOTER TEXT SECTION----------------*/
.footer-text h2{
    text-align:center;
    font-size:16px; 
    color:white;

}
